@page
@model ClientInternPort.Pages.Contact.IndexModel


<div class="container col-12">
    <div class="row">
        <div class="container col-5 m-2 p-2">
            <h2>CONTACT INFO</h2>
            <br />
            <h4>Lebanon:</h4>
            <p>Al-zahra Bldg. United Nations St. Bir Hassan, Beirut - Lebanon</p>
            <p>P.O. Box 25/95 Ghobeiri</p>
            <p>Phone (+961-1) 859501/2/3/4</p>
            <p>Fax: (+961-1) 859501/2/3/4</p>
            <br />
            <h4>KSA</h4>
            <p>Riyadh, Mecca Street, khurais Building, First Floor Office No. 12</p>
            <p>Phone: 00966114647576</p>
            <p>Fax: 00966114647568</p>
            <br />
            <h4>Kuwait</h4>
            <p>P.O. Box 27927 Safat, 13001 kuwait</p>
            <p>Mobile: (+965) 99783080 | (+965) 66074536</p>
            <p>Phone: (+965) 24718187 | (+965) 4722652</p>
            <p>Fax: (+965) 24722567</p>
        </div>
        <div class="container col-6 m-2 p-2">
            <h2 class="offset-2">CONTACT FORM</h2>
            <br />
            <form method="post">
                <div class="form-group row offset-2">
                    <label>Name</label>
                    <input class="form-control" id="name" required />
                    <label>Email</label>
                    <input class="form-control" id="Email" required />
                    <label>Phone Number</label>
                    <input class="form-control" id="Phone Number" required />
                    <label>Company Name</label>
                    <input class="form-control" id="Company" required />
                    <label>Your message</label>
                    <textarea class="form-control" rows="4" required id="message"></textarea>
                    <br />
                    <div class="container justify-content-center">
                        <button type="submit" class="btn btn-success text-center btn-sm">Send My message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>