@page
@model ClientInternPort.Pages.About_us.IndexModel


<h3>Who We Are</h3>

<p>
    INTEGRATED DIGITAL SYSTEMS (IDS) is a software provider company established in 1991 with a pool of more than a hundred software engineers delivering full-cycle software development services and software products. Our core competencies lie in providing Enterprise Resource Planning (ERP) products, Archiving Solutions, Document Management, Wealth Management, Online Trading, e-commerce, and e-government solutions. We established a solid know-how across many industries such as financial markets, banking, manufacturing, publishing, communication and media, healthcare, telecom, and retail.



    We design and develop intuitive web and mobile applications to help businesses realize the power of data, social collaboration, cloud computing, and next-generation tools for the enterprise. We specialize in full stack development of custom software for startups, large corporations, and government bodies.



    The company is part of the Microsoft Partner Network and has been a Microsoft Certified Partner since 2001.

</p>
