@page
@model IndexModel


@foreach (var item in Model.Programs)
{
    <div class="container p-3 m-3">
        <b>IDS Strated "the @Html.DisplayFor(m => item.Title)"</b>
        <p>@Html.DisplayFor(m => item.Description)</p>
        @if (item.CurrentCapacity < item.MaxCapacity)
        {
        <div class="col-3">
            <a class="btn btn-success btn-sm text-white" asp-page="Join-internship/JIndex" asp-route-id="@item.Id">Join Program</a>
        </div>
        }
        else
        {
            <a class="btn btn-dark btn-sm text-white" asp-page="" >Join Program</a>
        }
     </div>
}
